pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #6e7781; } /* Comment */
.err { color: #000000 } /* Error */
.k { color: #cf222e; } /* Keyword */
.l { color: #1C01CE } /* Literal */
.n { color: #000; /* #8250df; */ } /* Name */
.o { color: #000000 } /* Operator */
.ch { color: #177500 } /* Comment.Hashbang */
.cm { color: #6e7781; } /* Comment.Multiline */
.cp { color: #633820 } /* Comment.Preproc */
.cpf { color: #177500 } /* Comment.PreprocFile */
.c1 { color: #6e7781; } /* Comment.Single */
.cs { color: #177500 } /* Comment.Special */
.kc { color: #0550ae; } /* Keyword.Constant */
.kd { color: #cf222e; } /* Keyword.Declaration */
.kn { color: #cf222e; } /* Keyword.Namespace */
.kp { color: #A90D91 } /* Keyword.Pseudo */
.kr { color: #cf222e; } /* Keyword.Reserved */
.language-java .kr { color: #000; }
.kt { color: #000; } /* Keyword.Type */
.language-haskell .kt { color: #8250df; }
.language-c .kt { color: #cf222e; }
.ld { color: #1C01CE } /* Literal.Date */
.m { color: #0550ae; } /* Literal.Number */
.s { color: #0a3069; } /* Literal.String */
.na { color: #8250df; } /* Name.Attribute */
.nb { color: #cf222e; } /* Name.Builtin */
.language-lisp .nb { color: #000; }
.nc { color: #000 } /* Name.Class */
.no { color: #0550ae; } /* Name.Constant */
.nd { color: #0550ae; } /* Name.Decorator */
.ni { color: #000000 } /* Name.Entity */
.ne { color: #000000 } /* Name.Exception */
.nf { color: #8250df; } /* Name.Function */
.language-clojure .nf {  }
.nl { color: #000000 } /* Name.Label */
.nn { color: #000000 } /* Name.Namespace */
.nx { color: #000000 } /* Name.Other */
.py { color: #000000 } /* Name.Property */
.nt { color: #000000 } /* Name.Tag */
.nv { color: #000000 } /* Name.Variable */
.ow { color: #000000 } /* Operator.Word */
.highlight .mb { color: #0550ae } /* Literal.Number.Bin */
.highlight .mf { color: #0550ae } /* Literal.Number.Float */
.highlight .mh { color: #0550ae } /* Literal.Number.Hex */
.highlight .mi { color: #0550ae } /* Literal.Number.Integer */
.highlight .mo { color: #0550ae } /* Literal.Number.Oct */
.sa { color: #0a3069; } /* Literal.String.Affix */
.sb { color: #0a3069; } /* Literal.String.Backtick */
.sc { color: #2300CE } /* Literal.String.Char */
.dl { color: #0a3069; } /* Literal.String.Delimiter */
.sd { color: #0a3069; } /* Literal.String.Doc */
.s2 { color: #0a3069; } /* Literal.String.Double */
.se { color: #0a3069; } /* Literal.String.Escape */
.sh { color: #0a3069; } /* Literal.String.Heredoc */
.si { color: #0a3069; } /* Literal.String.Interpol */
.sx { color: #0a3069; } /* Literal.String.Other */
.sr { color: #0a3069; } /* Literal.String.Regex */
.s1 { color: #0a3069; } /* Literal.String.Single */
.ss { color: #0a3069; } /* Literal.String.Symbol */
.bp { color: #5B269A } /* Name.Builtin.Pseudo */
.fm { color: #000000 } /* Name.Function.Magic */
.vc { color: #000000 } /* Name.Variable.Class */
.vg { color: #000000 } /* Name.Variable.Global */
.vi { color: #000000 } /* Name.Variable.Instance */
.vm { color: #000000 } /* Name.Variable.Magic */
.il { color: #1C01CE } /* Literal.Number.Integer.Long */
