time {
    display: inline;
}

body {
    /* A gray that is 87% black is optimal. See: https://uxdesign.cc/designers-should-avoid-pure-black-typography-but-which-dark-gray-should-we-use-2d7faa07083a */
    color: #221111; /* 86.7% black, good enough */
    font-family: Georgia,"Times New Roman",Times,serif;
    background-color: whitesmoke;
    background-position: center -18em;
    background-repeat: repeat-x;
}
h1,h2,h3,h4 {
        line-height:1em;
        font-size:1.5em;
        font-weight: normal;
        clear: left;
        font-family: 'lucida grande', sans-serif;
}
h1 { margin-bottom: 1em; }
h2 {
        font-size: 1.25em;
        line-height: 1.5em;
}
h3 {
    font-size: 100%;
    font-weight:bold;
}

h5 {
    display: inline;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight:bold;
    font-size: 100%;
    margin: 0;
    padding-right: 0.5em;
}

h5 + p {
    display: inline;
}

blockquote {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #666;
}

p img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

code > a {
    font: 14px/20px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    text-decoration: none;
}

/* code */
pre, code, tt {
    font: 14px/20px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}
code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}
pre {
    background-color: #eef;
    border: 1px solid #ddd;
    overflow: auto;
    padding: 6px;
    border-radius: 3px 3px 3px 3px;
    margin: 15px 0px;
}
pre code, pre tt {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: medium none;
}
main {
    background: white;
    border: 1px solid #ccc;
    font-size: 18px;
    font-variant-ligatures: common-ligatures;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 26px;
    max-width: 38em;
}

footer {
    background: white;
    font-size: 1.1em;
    margin: 0.5em auto 3em auto;
}
@media screen and (min-width: 480px) {
    main {
        padding: 1em;
    }
    footer {
        border: 1px solid #ccc;
        max-width: 41em;
        padding: 0.25em 1em 0.5em 1em;
    }
}
@media screen and (min-width: 768px) {
    main {
        margin: 1.5em auto;
        padding: 1.5em;
    }
    footer {
        border: 1px solid #ccc;
        max-width: 41em;
        padding: 0.25em 1.5em 0.5em 1.5em;
    }
}
@media screen and (min-width: 992px) {
    main {
        margin: 1.5em auto;
        padding: 3em 3em 1.5em 3em;
    }
    footer {
        border: 1px solid #ccc;
        max-width: 41em;
        padding: 0.25em 3em 0.5em 3em;
    }
}

@media screen and (max-width: 480px) {
    footer {
        border-top: 1px solid #777;
        max-width: 100%;
        padding: 0.25em 0;
    }
}
footer blockquote {
    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px solid white;
    border-bottom: 1px solid black;
    margin: 3px 0px;
    padding: 5px 0px;
    width: 100%;
}
footer nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

main p {
    margin: 1em auto;
}

/* tables */
table {
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 15px auto;
}
table tr {
    border-top: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
}
table td, table th {
    border: 1px solid rgb(221, 221, 221);
    padding: 6px 13px;
}
table th {
    font-weight: normal;
}

table.inference td.conclusion {
    border: 0px;
    text-align: center;
}
table.inference tr {
    border-top: 0px;
}
table.inference th {
    border-width: 0px 0px 1px 0px;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 1.1em;
    background: white;
  }
  main {
    background: white;
    border: none;
    max-width: 100%;
  }

  #downloads {
    display: none;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    display: inline;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight:bold;
    font-size: 100%;
  }
}
