/* Links */
details, details summary {
    display: inline;
    float: none;
}
details summary::-webkit-details-marker {
    display: none;
    float: none;
}


a {
    text-decoration: none ;
}

a:hover {
    text-decoration: underline ;
}

article {
    background-color: white;
    width: 39em;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 20px ;
    padding: 20px ;
    padding-left: 40px ;
    padding-right: 40px ;
    border-radius: 9px ;
    -moz-border-radius: 9px ;
    -o-box-shadow: 0 5px 5px #333333 ;
    -webkit-box-shadow: 0 5px 5px #333333 ;
    -moz-box-shadow: 0 5px 5px #333333 ;
    box-shadow: 0 5px 5px #333333 ;
}

section {
    display: block;
    margin: 0 0 20px 0;
}

header {
    width: 100%;
    border-bottom: 1px dashed #dddddd;
    padding: 10px 0;
    margin: 0 0 20px 0;
}

blockquote {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #666;
}

/* code */
code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}
pre {
    background-color: #eef;
    border: 1px solid #ddd;
    line-height: 19px;
    overflow: auto;
    padding: 6px;
    border-radius: 3px 3px 3px 3px;
    margin: 15px 0px;
}
pre code, pre tt {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: medium none;
}
pre.nano, pre.term, pre.terminal {
    width: 80ex;
    white-space: pre-wrap;
}
pre.term, pre.terminal, pre.nano span.bg {
    background-color: black;
    color: white;
}

/* Clearfix */
.cf:before, .cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

.cf {
    zoom:1;
}

/* footer */
footer {
    border-top: 1px solid black;
    margin-top: 5px;
}
footer blockquote {
    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px solid white;
    border-bottom: 1px solid black;
    margin: 3px 0px;
    padding: 5px 0px;
    width: 100%;
}

/* table stuff */
table#sql th, td {
    padding: 0px 5px;
}

table.sql {
    border-collapse: collapse;
}
table.sql tr td, th {
    border: 1px solid gray;
}

table.example > tr > th,table.example > tr > td,table.example > * > tr > th,table.example > * > tr > td{border:1px #aaa solid;padding:0.2em}
