/* Links */
a {
    text-decoration: none ;
}

a:hover {
    text-decoration: underline ;
}


section {
    display: block;
    margin: 0 0 20px 0;
}

header {
    width: 100%;
    border-bottom: 1px dashed #dddddd;
    padding: 10px 0;
    margin: 0 0 20px 0;
}

/* Body */
body {
    padding: 0px; 
    margin: 0px;
    font-family: Georgia;
    overflow: none;
}

/* General & 'Reset' Stuff */
.container {
    background-color: white;
    width: 90%;
    max-width: 570px;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 20px ;
    padding: 20px ;
    padding-left: 40px ;
    padding-right: 40px ;
    border-radius: 9px ;
    -moz-border-radius: 9px ;
    -o-box-shadow: 0 5px 5px #333333 ;
    -webkit-box-shadow: 0 5px 5px #333333 ;
    -moz-box-shadow: 0 5px 5px #333333 ;
    box-shadow: 0 5px 5px #333333 ;
}

blockquote {
    padding-left: 10px;
    border-left: 1px solid #666;
}

/* chunk */
.chunk {
    counter-increment: chunks;
}

.chunk:before {
    content: counter(chunks) ".";
    font-weight: bold;
}

/* code */
code {
    margin: 0px 2px;
    padding: 0px 5px;
    border: 1px solid rgb(234, 234, 234);
    background-color: rgb(248, 248, 248);
    border-radius: 3px 3px 3px 3px;
}
pre {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(204, 204, 204);
    /* font-size: 13px; */
    line-height: 19px;
    overflow: auto;
    padding: 6px;
    border-radius: 3px 3px 3px 3px;
    margin: 15px 0px;
}
pre code, pre tt {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: medium none;
}
/* pre, code, tt { */
/*     font-size: 12px; */
/*     /\* font-family: Consolas,"Liberation Mono",Courier,monospace; *\/ */
/* } */

/* Clearfix */
.cf:before, .cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

.cf {
    zoom:1;
}

/* footer */
footer {
    border-top: 1px solid black;
    margin-top: 5px;
    padding-top: 5px;
}